<% @page_title = "Registration"%>
<div class="users new">

  <%= form_for(:user, :url => {:action => 'create'}) do |f| %>


  <table summary="User form fields">
    <tr>
      <th>Provider</th>
      <td><%= f.text_field(:provider) %></td>
    </tr>
    <tr>
      <th>UID</th>
      <td><%= f.text_field(:uid) %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
      <th>Oauth Token</th>
      <td><%= f.text_field(:oauth_token) %></td>
    </tr>
    <tr>
      <th>Oauth Expires At</th>
      <td><%= f.date_field(:oauth_expires_at) %></td>
    </tr>
  </table>

  <div class="form-buttons">
    <%= submit_tag("Register") %>
  </div>
  <% end %>




