<% @page_title = "Create Event"%>
<!--<%= link_to("<< Back to Event's List", {:action => 'index'}, :class => 'back-link') %> -->


<!-- The Below Code display's an output based on the text input!
<script type="text/javascript">
	function updateSpan(){
	document.getElementById('textoutput').innerHTML=document.getElementById('textinput').value;
	}
</script>

<input type="text" id="textinput" onkeyup="updateSpan(); return false;" />
<span id="textoutput"></span>
-->

<!-- The following code shows how text_field relates to <input type>
text_field(:snippet, :code, size: 20, class: 'code_input')
# => <input type="text" id="snippet_code" name="snippet[code]" size="20" value="#{@snippet.code}" class="code_input" /> 
-->


<script type="text/javascript">
	function updateSpan(){
		document.getElementById("event_out").innerHTML=document.getElementById("event_name").value;
	}
</script>

<div class="events new">

	<%= form_for(:event, :url => {:action => 'create'}) do |f| %>


	<table summary="Event form fields">
		<tr>
			<th>Event Name</th>
			<td><%= f.text_field(:event_name) %></td>
		</tr>
		<tr>
			<th>Event Date</th>
			<td><%= f.date_field(:event_date) %></td>
		</tr>
		<tr>
			<th>Ante Date</th>
			<td><%= f.date_field(:ante_date) %></td>
		</tr>
		<tr>
			<th>Price Per Person</th>
			<td><%= f.text_field(:price_per_person) %></td>
		</tr>
		<tr>
			<th>Attendee Floor</th>
			<td><%= f.number_field(:attendee_floor) %></td>
		</tr>
		<tr>
			<th>Attendee Ceiling</th>
			<td><%= f.number_field(:attendee_ceiling) %></td>
		</tr>
	</table>

	<div class="form-buttons">
		<%= submit_tag("Create Event") %>
	</div>
  <% end %>


  	<span id='event_out'></span>
	<p>
		<hr>
		If __________ people give me $______ by _________ date, then I'll plan _________ on __________ at __________. 
	</p>



